{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
    crossorigin="anonymous">
    <style>
        body{
            background-repeat: no-repeat;
            background-size: cover;
            height: 90vh;
        }
    </style>
</head>
<body style="background-image: url('{% static 'photo/images/BG1.svg' %}');">
   <div class="container mt-5">
       <div class="row justify-content-center">
           <div class="col-md-5">
            <div class="card m-3">
            <h4 class="text-center"><img src="{% static 'photo/images/photocloud.svg' %}"></h4>
             <h4 class="card-subtitle text-center">Welcome back!</h4>
             <h5 class="card-title my-2 text-info text-center">Login to Your Account</h5>
               <div class="card-body m-3">
                <form action="" method="post">
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                    <ul class="alert alert-danger text-danger">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% for forms in form %}
                    <div class="form-group">
                       <strong>{{forms.label_tag}}</strong>
                       {{forms}} 
                       <h6 class="text-danger my-2">{{forms.errors|striptags}} </h6>
                    </div>
                     {% endfor %}
                     <button type="submit" class=" btn btn-dark text-center">Login</button>
                    <h6 class="text-black my-2"> New to PhotoCloud? <a href="{% url 'signup' %}">Create an Account</a></h6>
                    
                   </form>
               </div>
            </div>
           </div>
       </div>
   </div>

   {% include 'photo/footer.html' %}
</body>
</html>